[submodule "nvim/pack/plugins/start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/start/nvim-web-devicons"]
	path = nvim/pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "nvim/pack/plugins/start/nui.nvim"]
	path = nvim/pack/plugins/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "nvim/pack/plugins/start/promise-async"]
	path = nvim/pack/plugins/start/promise-async
	url = https://github.com/kevinhwang91/promise-async.git
[submodule "nvim/pack/plugins/start/nvim-nio"]
	path = nvim/pack/plugins/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/start/nvim-treesitter-textobjects"]
	path = nvim/pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/plugins/start/mason.nvim"]
	path = nvim/pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/pack/plugins/start/mason-lspconfig.nvim"]
	path = nvim/pack/plugins/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/pack/plugins/start/nvim-cmp"]
	path = nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/pack/plugins/start/cmp-nvim-lsp-signature-help"]
	path = nvim/pack/plugins/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule "nvim/pack/plugins/start/cmp-buffer"]
	path = nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "nvim/pack/plugins/start/cmp-path"]
	path = nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "nvim/pack/plugins/start/LuaSnip"]
	path = nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "nvim/pack/plugins/start/cmp_luasnip"]
	path = nvim/pack/plugins/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "nvim/pack/plugins/start/copilot.lua"]
	path = nvim/pack/plugins/start/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua.git
[submodule "nvim/pack/plugins/start/copilot-cmp"]
	path = nvim/pack/plugins/start/copilot-cmp
	url = https://github.com/zbirenbaum/copilot-cmp.git
[submodule "nvim/pack/plugins/start/rustaceanvim"]
	path = nvim/pack/plugins/start/rustaceanvim
	url = https://github.com/mrcjkb/rustaceanvim.git
[submodule "nvim/pack/plugins/start/crates.nvim"]
	path = nvim/pack/plugins/start/crates.nvim
	url = https://github.com/saecki/crates.nvim.git
[submodule "nvim/pack/plugins/start/roslyn.nvim"]
	path = nvim/pack/plugins/start/roslyn.nvim
	url = https://github.com/seblyng/roslyn.nvim.git
[submodule "nvim/pack/plugins/start/rzls.nvim"]
	path = nvim/pack/plugins/start/rzls.nvim
	url = https://github.com/tris203/rzls.nvim.git
[submodule "nvim/pack/plugins/start/nvim-jdtls"]
	path = nvim/pack/plugins/start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls.git
[submodule "nvim/pack/plugins/start/nvim-dap"]
	path = nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "nvim/pack/plugins/start/nvim-dap-ui"]
	path = nvim/pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "nvim/pack/plugins/start/nvim-dap-virtual-text"]
	path = nvim/pack/plugins/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text.git
[submodule "nvim/pack/plugins/start/mason-nvim-dap.nvim"]
	path = nvim/pack/plugins/start/mason-nvim-dap.nvim
	url = https://github.com/jay-babu/mason-nvim-dap.nvim.git
[submodule "nvim/pack/plugins/start/neotest"]
	path = nvim/pack/plugins/start/neotest
	url = https://github.com/nvim-neotest/neotest.git
[submodule "nvim/pack/plugins/start/neotest-python"]
	path = nvim/pack/plugins/start/neotest-python
	url = https://github.com/nvim-neotest/neotest-python.git
[submodule "nvim/pack/plugins/start/neotest-rust"]
	path = nvim/pack/plugins/start/neotest-rust
	url = https://github.com/rouge8/neotest-rust.git
[submodule "nvim/pack/plugins/start/neotest-jest"]
	path = nvim/pack/plugins/start/neotest-jest
	url = https://github.com/nvim-neotest/neotest-jest.git
[submodule "nvim/pack/plugins/start/vim-fugitive"]
	path = nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/plugins/start/gitsigns.nvim"]
	path = nvim/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/pack/plugins/start/diffview.nvim"]
	path = nvim/pack/plugins/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "nvim/pack/plugins/start/neogit"]
	path = nvim/pack/plugins/start/neogit
	url = https://github.com/NeogitOrg/neogit.git
[submodule "nvim/pack/plugins/start/fzf-lua"]
	path = nvim/pack/plugins/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "nvim/pack/plugins/start/harpoon"]
	path = nvim/pack/plugins/start/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
	branch = harpoon2
[submodule "nvim/pack/plugins/start/flash.nvim"]
	path = nvim/pack/plugins/start/flash.nvim
	url = https://github.com/folke/flash.nvim.git
[submodule "nvim/pack/plugins/start/oil.nvim"]
	path = nvim/pack/plugins/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "nvim/pack/plugins/start/aerial.nvim"]
	path = nvim/pack/plugins/start/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim.git
[submodule "nvim/pack/plugins/start/nvim-spectre"]
	path = nvim/pack/plugins/start/nvim-spectre
	url = https://github.com/nvim-pack/nvim-spectre.git
[submodule "nvim/pack/plugins/start/Comment.nvim"]
	path = nvim/pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "nvim/pack/plugins/start/vim-surround"]
	path = nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/pack/plugins/start/vim-easy-align"]
	path = nvim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "nvim/pack/plugins/start/nvim-autopairs"]
	path = nvim/pack/plugins/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "nvim/pack/plugins/start/mini.ai"]
	path = nvim/pack/plugins/start/mini.ai
	url = https://github.com/echasnovski/mini.ai.git
[submodule "nvim/pack/plugins/start/nvim-various-textobjs"]
	path = nvim/pack/plugins/start/nvim-various-textobjs
	url = https://github.com/chrisgrieser/nvim-various-textobjs.git
[submodule "nvim/pack/plugins/start/dial.nvim"]
	path = nvim/pack/plugins/start/dial.nvim
	url = https://github.com/monaqa/dial.nvim.git
[submodule "nvim/pack/plugins/start/treesj"]
	path = nvim/pack/plugins/start/treesj
	url = https://github.com/Wansmer/treesj.git
[submodule "nvim/pack/plugins/start/yanky.nvim"]
	path = nvim/pack/plugins/start/yanky.nvim
	url = https://github.com/gbprod/yanky.nvim.git
[submodule "nvim/pack/plugins/start/dracula"]
	path = nvim/pack/plugins/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "nvim/pack/plugins/start/lualine.nvim"]
	path = nvim/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "nvim/pack/plugins/start/alpha-nvim"]
	path = nvim/pack/plugins/start/alpha-nvim
	url = https://github.com/goolord/alpha-nvim.git
[submodule "nvim/pack/plugins/start/ascii.nvim"]
	path = nvim/pack/plugins/start/ascii.nvim
	url = https://github.com/MaximilianLloyd/ascii.nvim.git
[submodule "nvim/pack/plugins/start/which-key.nvim"]
	path = nvim/pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "nvim/pack/plugins/start/trouble.nvim"]
	path = nvim/pack/plugins/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "nvim/pack/plugins/start/todo-comments.nvim"]
	path = nvim/pack/plugins/start/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim.git
[submodule "nvim/pack/plugins/start/marks.nvim"]
	path = nvim/pack/plugins/start/marks.nvim
	url = https://github.com/chentoast/marks.nvim.git
[submodule "nvim/pack/plugins/start/nvim-colorizer.lua"]
	path = nvim/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
[submodule "nvim/pack/plugins/start/nvim-ufo"]
	path = nvim/pack/plugins/start/nvim-ufo
	url = https://github.com/kevinhwang91/nvim-ufo.git
[submodule "nvim/pack/plugins/start/render-markdown.nvim"]
	path = nvim/pack/plugins/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim.git
[submodule "nvim/pack/plugins/start/zen-mode.nvim"]
	path = nvim/pack/plugins/start/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim.git
[submodule "nvim/pack/plugins/start/twilight.nvim"]
	path = nvim/pack/plugins/start/twilight.nvim
	url = https://github.com/folke/twilight.nvim.git
[submodule "nvim/pack/plugins/start/drop.nvim"]
	path = nvim/pack/plugins/start/drop.nvim
	url = https://github.com/folke/drop.nvim.git
[submodule "nvim/pack/plugins/start/cellular-automaton.nvim"]
	path = nvim/pack/plugins/start/cellular-automaton.nvim
	url = https://github.com/Eandrju/cellular-automaton.nvim.git
[submodule "nvim/pack/plugins/start/nvim-dbee"]
	path = nvim/pack/plugins/start/nvim-dbee
	url = https://github.com/kndndrj/nvim-dbee.git
[submodule "nvim/pack/plugins/start/image.nvim"]
	path = nvim/pack/plugins/start/image.nvim
	url = https://github.com/3rd/image.nvim.git
[submodule "nvim/pack/plugins/start/diagram.nvim"]
	path = nvim/pack/plugins/start/diagram.nvim
	url = https://github.com/3rd/diagram.nvim.git
[submodule "nvim/pack/plugins/start/vscode-diff.nvim"]
	path = nvim/pack/plugins/start/vscode-diff.nvim
	url = https://github.com/esmuellert/vscode-diff.nvim.git
