gcloud/
systemd/
pavucontrol.ini
1Password/
BraveSoftware/
chromium/
google-chrome*
go/
user-dirs.*
gh/
github-copilot/
**/.claude/
karabiner/
op/
steinberg-download-assistant/
Claude/
Code/
Mumble/
Signal/
vivaldi*
.worktrees/
wayvnc/
vesktop/
microsoft-edge-dev/
simple-update-notifier/
cava/
dconf/
mimeapps.list
pnpm
pulse/
pypoetry/
.zcompdump*

