window {
    margin: 0px;
    border: 2px solid #bd93f9;
    background-color: #282a36;
    border-radius: 5px;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    background-color: #282a36;
}

#outer-box {
    margin: 5px;
    background-color: #282a36;
}

#scroll {
    margin: 5px;
    background-color: #282a36;
}

#text {
    margin: 5px;
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
    border-radius: 5px;
}

